
a {
  color: gray;
}

a:hover {
  color: red;
}

dd {
  padding-bottom: 8px;
}

mark {
  background-color: #ac94f4;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}